nav {
  background-color: lavender;
  padding: 20px;
}

h2 {
  color: black;
  display: inline;
}

ul {
  display: inline-block;
  float: right;
  position: relative;
  top: -10px;
}

ul > li {
  text-decoration: none;
  list-style-type: none;
  display: inline;
  margin: 10px;
  color: black;
}

.album-example {
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
  margin: 10px;
}

.thumbnail-images {
  text-align: center;
  margin: 40px;
}

footer {
  background-color: lightsalmon;
  padding: 10px;
}

.Maincalltoaction {
  background-color: orange;
  border: none;
  color: cyan;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
